@import '../../styles/mixins';
@import '../../styles/variables';

.equal__wrapper {
  margin-bottom: 10px;
  width: 24rem;
  @include border;
  background: $white;
  cursor: pointer;
}

.equal {
  display: block;
  width: 100%;
  padding: 2.4rem;
  background-color: $blue;
  border-radius: .6rem;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
  color: $white;
  text-align: center;
}